{{#each emptys}}
    <div class="alert alert-danger">{{text}}</div> 
{{/each }}

<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="Seller">Seller Name</label>
            <textarea class="form-control" name="seller" required></textarea>

        </div>
        <div class="form-group">
            <label for="ProductName">Product Name</label>
            <textarea class="form-control" name="productName" required></textarea>
            
        </div>
        <div class="form-group">
            <label for="ProductPrice">Product Price</label>
            <textarea class="form-control" name="productPrice" required></textarea>
            
        </div>
        <div class="form-group">
            <label for="Website">Website</label>
            <textarea class="form-control" name="website" required></textarea>
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>    
    </form>
</div>