{{#each emptys}}
    <div class="alert alert-danger">{{text}}</div> 
{{/each }}

<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="Seller">Title</label>
            <textarea class="form-control" name="seller" required></textarea>

        </div>
        <div class="form-group">
            <label for="Address">Title</label>
            <textarea class="form-control" name="address" required></textarea>
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>    
    </form>
</div>